<div class="posts_index">
	<div class="col-md-4">
		<%= render 'public/users/profile', user: current_user %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h2 class="col-md-2">Posts</h2>

			<!-- 検索フォーム -->
			<%= search_form_for @q do |f| %>
				<div class="col-md-10 text-right posts_search">
					<%= f.search_field :title_or_category_name_cont, placeholder: 'タイトル or カテゴリー' %>

					<%= f.submit '検索', class: 'posts_search_btn' %>
				</div>
			<% end %>
		</div>

		<table>
			<thead>
				<tr>
					<th class="text-center">Users</th>
					<th class="text-center">Titles</th>
					<th class="text-center">Categories</th>
					<th class="text-center">Comments</th>
					<th class="text-center">Likes</th>
				</tr>
			</thead>

			<tbody  class="text-center">
				<% @posts.each do |post| %>
					<tr>
						<td>
							<!-- ユーザー -->
							<%= link_to user_path(post.user) do%>
								<%= render 'public/users/profile_image', user: post.user %><br>
								<div class="posts_index_ posts_index_user">
									<%= post.user.username %>
								</div>
							<% end %>
						</td>
						<td>
							<%= link_to post_path(post) do%>
								<!-- 投稿　タイトル -->
								<div class="posts_index_ posts_index_title">
									<%= post.title %>
								</div>
							<% end %>
						</td>
							<!-- カテゴリー -->
						<td>
							<%= link_to post_path(post) do%>
								<div class="posts_index_">
									<%= post.category.name %>
								</div>
							<% end %>
						</td>
							<!-- コメント件数 -->
						<td>
							<%= link_to post_path(post) do%>
								<div class="posts_index_">
									<%= post.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
								</div>
							<% end %>
						</td>
							<!-- いいね数 -->
						<td>
							<%= link_to post_path(post) do%>
								<div class="posts_index_">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= post.likes.count %>
								</div>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>