<div class="show">
	<div class="row">
		<h2 class="col-md-2 text-center">投稿詳細</h2>
	</div>

	<div class="col-md-6">
		<div class="row p_s_user">
			<div class="post_show_user text-center">
				<%= link_to user_path(@post.user) do%>
					<%= render 'public/users/profile_image', user: @post.user %>
					<div class="show_username">
						<%= @post.user.username %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<!-- タイトル -->
			<div class="post_title col-md-4">
				<%= simple_format(@post.title) %>
			</div>
			<!-- カテゴリー -->
			<div class="post_category text-center col-md-3">
				<%= @post.category.name %>
			</div>
			<!-- いいね -->
			<div id="like_btn_<% @post.id %>">
				<%= render 'public/likes/like', post: @post %>
			</div>
			<!-- 日時 -->
			<div class="post_datetime test-right">
				<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</div>
		</div>

		<div class="row">
			<!-- めあて -->
			<div class="post_objective_">
				<%= simple_format(@post.objective) %>
			</div>
		</div>

		<div class="row">
			<!-- 詳細 -->
			<div class="post_body_">
				<%= simple_format(@post.body) %>
			</div>
		</div>

		<div class="row">
			<!-- ふりかえり -->
			<div class="post_review_">
				<%= simple_format(@post.review) %>
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<!-- image -->
		<div class="row text-center">
			<%= attachment_image_tag(@post, :image, size: '400x300') %>
		</div>

		<div class="row text-left s_post_btn">
			<!-- 「投稿を編集」ボタン -->
			<% if @post.user == current_user %>
				<%= link_to '投稿を編集', edit_post_path(@post), class: 'btn post_btn' %>
			<% end %>
		</div>

		<div class="row">
			<!-- コメントフォーム -->
			<div class="comment_form">
				<%= form_with(model: [@post, @comment], remote: true) do |f| %>
					<%= f.text_area :post_comment, rows:'6',placeholder: 'コメント', class: 'col-md-11' %>
					<div class="col-md-1 comment_submit">
						<%= f.submit '送信', class: 'c_submit' %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<!-- error_messages -->
			<p class="error_messages"><%= flash[:error] %></p>

			<!-- コメント一覧 -->
			<div class="comment_<% @post.id %>">
				<%= render 'public/comments/comments', { post: @post, comments: @post.comments } %>
			</div>
		</div>

		<div class="back_btn">
			<%= link_to 'もどる', :back, data: {'turbolinks' => false}, class: 'btn navbar-btn' %>
		</div>
	</div>
</div>
