<div class="show">
	<div class="row">
		<h2 class="col-md-1 text-center">Show</h2>
	</div>

	<div class="col-md-8">
		<div class="row">
			<div class=" post_show_user text-center">
				<%= render 'public/users/profile_image', user: @post.user %><br>
				<%= @post.user.username %>
			</div>
		</div>
		<div class="row">
			<div class="post_title col-md-4">
				<%= simple_format(@post.title) %>
			</div>
		</div>

		<div class="row">
			<div class="post_objective col-md-8">
				<%= simple_format(@post.objective) %>
			</div>
		</div>

		<div class="row">
			<div class="post_body col-md-8">
				<%= simple_format(@post.body) %>
			</div>
		</div>

		<div class="row">
			<div class="post_review col-md-8">
				<%= simple_format(@post.review) %>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="row text-center">
			<%= attachment_image_tag(@post, :image, size: '400x300') %>
		</div>

		<!-- <div class="row"> -->
			<%#= f.label :category %>
		<!-- </div> -->

		<div class="row">
			<div class="col-md-5">
			<%= link_to '編集', edit_post_path(@post), class: 'btn post_btn' %>
		</div>

		<div class="row">
			<table>
				<!-- コメントフォーム -->
				<thead>
					<tr>
						<th><%= form_with(model: [@post, @comment], local: true) do |f| %>
								<%= f.text_area :post_comment, rows:'6',placeholder: 'コメント' %>
								<%= f.submit '送信' %>
							<% end %>
						</th>
					</tr>
				</thead>

				<!-- コメント一覧 -->
				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td>
								<%= link_to user_path(comment.user) do%>
									<%= render 'public/users/profile_image', user: comment.user %><br>
									<%= comment.user.username %>
								<% end %>
							</td>

							<td><%= comment.post_comment %></td>

							<td><%= link_to '編集',edit_post_comment_path(@post), class: 'btn post_btn' %>

								<%= link_to '削除', post_comment_path(comment.id), method: :delete, type: 'button', class: 'btn post_btn' %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
