<div class="show">
	<div class="row">
		<h2 class="col-md-1 text-center">Show</h2>
	</div>

	<div class="col-md-6">
		<div class="row p_s_user">
			<div class="post_show_user text-center">
				<%= link_to user_path(@post.user) do%>
					<%= render 'public/users/profile_image', user: @post.user %><br>
					<div class="show_username">
						<%= @post.user.username %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="post_title col-md-4">
				<!-- タイトル -->
				<%= simple_format(@post.title) %>
			</div>
			<div class="post_category text-center col-md-3">
				<!-- カテゴリー -->
				<%= @post.category.name %>
			</div>
			<div class="post_datetime text-right col-md-4">
				<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</div>
		</div>

		<div class="row">
			<div class="post_objective">
				<!-- めあて -->
				<%= simple_format(@post.objective) %>
			</div>
		</div>

		<div class="row">
			<div class="post_body">
				<!-- 詳細 -->
				<%= simple_format(@post.body) %>
			</div>
		</div>

		<div class="row">
			<div class="post_review">
				<!-- ふりかえり -->
				<%= simple_format(@post.review) %>
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<div class="row text-center">
			<!-- image -->
			<%= attachment_image_tag(@post, :image, size: '400x300') %>
		</div>

		<div class="row text-left s_post_btn">
			<%= link_to '投稿を編集', edit_post_path(@post), class: 'btn post_btn' %>
		</div>

		<div class="row text-center">
			<!-- コメントフォーム -->
			<div class="comment_form">
				<%= form_with(model: [@post, @comment], local: true) do |f| %>
					<%= f.text_area :post_comment, rows:'6',placeholder: 'コメント', class: 'col-md-11' %>
					<div class="col-md-1 comment_submit">
						<%= f.submit '送信', class: 'c_submit' %>
					</div>
				<% end %>
			</div>

			<!-- コメント一覧 -->
			<table class="table comment_table col-md-12">
				<thead>
					<tr>
						<th class="text-center">Users</th>
						<th class="text-center">comments</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td>
								<%= link_to user_path(comment.user) do%>
									<%= render 'public/users/profile_image', user: comment.user %><br>
									<div class="show_username">
										<%= comment.user.username %>
									</div>
								<% end %>
							</td>

							<td class="text-left"><%= comment.post_comment %></td>

							<td class="s_comment_btn"><%= link_to '編集',edit_post_comment_path(comment), class: 'btn comment_btn' %>

								<%= link_to '削除', post_comment_path(comment), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn comment_delete_btn' %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
