<div class="show">
	<div class="row">
		<h2 class="col-md-1 text-center">Show</h2>
	</div>

	<div class="col-md-6">
		<div class="row p_s_user">
			<div class="post_show_user text-center">
				<%= link_to user_path(@post.user) do%>
					<%= render 'public/users/profile_image', user: @post.user %>
					<div class="show_username">
						<%= @post.user.username %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<!-- タイトル -->
			<div class="post_title col-md-4">
				<%= simple_format(@post.title) %>
			</div>
			<!-- カテゴリー -->
			<div class="post_category text-center col-md-3">
				<%= @post.category.name %>
			</div>
			<!-- いいね -->
			<div class="like text-center col-md-2">
				<% if @post.liked_by?(current_user) %>
					<%= link_to post_likes_path(@post), class: 'like_font', method: :delete do %>
						<span class="glyphicon glyphicon-star" aria-hidden="true" style="color: white;"></span>
						<%= @post.likes.count %>
					<% end %>
				<% else %>
					<%= link_to post_likes_path(@post), class: 'like_font', method: :post do %>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
						<%= @post.likes.count %>
					<% end %>
				<% end %>
			</div>
			<!-- 日時 -->
			<div class="post_datetime test-right">
				<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</div>
		</div>

		<div class="row">
			<!-- めあて -->
			<div class="post_objective">
				<%= simple_format(@post.objective) %>
			</div>
		</div>

		<div class="row">
			<!-- 詳細 -->
			<div class="post_body">
				<%= simple_format(@post.body) %>
			</div>
		</div>

		<div class="row">
			<!-- ふりかえり -->
			<div class="post_review">
				<%= simple_format(@post.review) %>
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<!-- image -->
		<div class="row text-center">
			<%= attachment_image_tag(@post, :image, size: '400x300') %>
		</div>

		<div class="row text-left s_post_btn">
			<!-- 「投稿を編集」ボタン -->
			<% if @post.user == current_user %>
				<%= link_to '投稿を編集', edit_post_path(@post), class: 'btn post_btn' %>
			<% end %>
		</div>

		<div class="row text-center">
			<!-- コメントフォーム -->
			<div class="comment_form">
				<%= form_with(model: [@post, @comment], local: true) do |f| %>
					<%= f.text_area :post_comment, rows:'6',placeholder: 'コメント', class: 'col-md-11' %>
					<div class="col-md-1 comment_submit">
						<%= f.submit '送信', class: 'c_submit' %>
					</div>
				<% end %>
			</div>

			<!-- コメント一覧 -->
			<table class="table comment_table col-md-12">
				<thead>
					<tr>
						<th class="text-center">Users</th>
						<th class="text-center">comments</th>
						<th class="text-center"><%= @post.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
					</tr>
				</thead>

				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td>
								<%= link_to user_path(comment.user) do%>
									<%= render 'public/users/profile_image', user: comment.user %><br>
									<div class="show_username">
										<%= comment.user.username %>
									</div>
								<% end %>
							</td>

							<td class="text-left"><%= comment.post_comment %></td>

							<% if comment.user == current_user %>
								<td class="s_comment_btn"><%= link_to '編集',edit_post_comment_path(comment), class: 'btn comment_btn' %>

									<%= link_to '削除', post_comment_path(comment), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn comment_delete_btn' %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @comments %>
		</div>
	</div>
</div>
