<h3>おすすめ</h3>
	<ul class="recommendations">
		<% recommendations.each do |recommendation| %>
			<li class="recommendations_">
				<div class="text-center">
				<!-- ユーザー -->
					<%= link_to user_path(recommendation.user) do%>
						<%= render 'public/users/profile_image', user: recommendation.user %><br>

						<p class="recommendations_user text-center"><%= recommendation.user.username %></p>
					<% end %>
				</div>

				<!-- 投稿　タイトル -->
				<div class="">
				<%= link_to post_path(recommendation), data: {'turbolinks' => false} do %>
					<p class="recommendations_title text-center"><%= recommendation.title %></p>
				<% end %>
				</div>

				<div class="">
					<%= link_to post_path(recommendation), data: {'turbolinks' => false} do%>
						<div class="recommendations_like text-center">
							<!-- いいね数 -->
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= recommendation.likes.count %>
						</div>
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>