<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="container-fluid">
				<%= link_to root_path, data: {'turbolinks' => false}, class: 'navbar-brand btn navbar-btn' do %>
					<strong>せんせいのぽけっと</strong>
				<% end %>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample4">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to '', new_post_path, type: 'button', class: 'btn navbar-btn p_h_btn glyphicon glyphicon-pencil' %></li>
					<li><%= link_to 'マイページ', user_path(current_user), type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to 'タイムライン', timeline_path, type: 'button', data: {'turbolinks' => false}, class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to '投稿', posts_path, type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to 'ユーザー', users_path, type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
				<% else %>
					<li><%= link_to '投稿', posts_path, type: 'button', data: {'turbolinks' => false}, class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to 'サインイン', new_user_session_path, type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
					<li><%= link_to 'サインアップ', new_user_registration_path, type: 'button', class: 'btn navbar-btn p_h_btn' %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>