<% if user.is_deleted == true %>
	<div class="is_deleted text-center">
		<p>退会済</p>
	</div>

	<div class="row">
		<!-- フォローボタン -->
		<%= render 'public/relationships/follow_button', user: user %>
	</div>
<% else %>
	<div class="row text-center">
		<%= link_to user_path(user) do%>
			<%= attachment_image_tag(user, :profile_image, fallback: 'no_image.jpg', size: '190x190') %>
		<% end %>
	</div>

	<div class="row profile_username center-block">
		<%= user.username %>
	</div>

	<div class="row profile_introduction center-block">
		<%= user.introduction %>
	</div>

	<div class="row">
		<!-- フォローボタン -->
		<%= render 'public/relationships/follow_button', user: user %>
	</div>

	<div class="row">
		<% if user ||= current_user %>
			<div class="following_btn">
				<%= link_to 'フォロー', following_path(user), type: 'button', class: 'btn btn-default btn-sm col-md-5' %>
			</div>
			<div class="follower_btn">
				<%= link_to 'フォロワー', followers_path(user), type: 'button', class: 'btn btn-default btn-sm col-md-5' %>
			</div>
		<% end %>
	</div>


	<div class="row edit_btn center-block">
		<% if user == current_user %>
			<%= link_to '',edit_user_path(user), type: 'button', class: 'btn btn-default col-md-12 glyphicon glyphicon-wrench' %>
		<% end %>
	</div>
<% end %>

<div class="row new_btn center-block">
	<%= link_to '',new_post_path, type: 'button', class: 'btn btn-default col-md-12 glyphicon glyphicon-pencil' %>
</div>


