<h2>User Edit</h2>

<%= form_with model: @user, url: user_path(@user), local: true do |f| %>
	<table>
		<tr>
			<th><%= attachment_image_tag(@user, :profile_image, fallback: 'no_image.jpg', size: '60x60') %></th>
			<td><%= f.attachment_field :profile_image %></td>
		</tr>

		<tr>
			<th><%= f.label '氏名' %></th>
			<td><%= f.text_field :name %></td>
		</tr>

		<tr>
			<th><%= f.label 'ユーザー名' %></th>
			<td><%= f.text_field :username %></td>
		</tr>

		<tr>
			<th><%= f.label 'メールアドレス' %></th>
			<td><%= f.email_field :email %></td>
		</tr>

		<tr>
			<th><%= f.label '自己紹介' %></th>
			<td><%= f.text_field :introduction %></td>
		</tr>
	</table>

      <div class="">
        <%= f.submit '変更を保存', class: 'btn' %>
        <%= link_to 'パスワードを変更', edit_user_password_path, class: 'btn btn-default' %>
      </div>
  <% end %>