<div class="container change_password">
  <div class="row">
    <h2 class="text-center">Change your password</h2>
  </div>

  <%= form_with(model:@user, url: update_password_path(@user), method: :PATCH, local: true) do |f| %>

    <div class="row">
      <table class="col-md-11 change_password_table">
        <tr>
          <th class="col-md-3 text-right"><%= f.label '新しいパスワード' %></th>
          <td class="col-md-3"><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>

        <tr>
            <th class="col-md-3 text-right"><%= f.label 'パスワード確認' %></th>
            <td class="col-md-3"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
      </table>
    </div>

    <div class="row text-center change_password_">
      <%= f.submit "Change my password", class: 'btn change_password_btn' %>
    </div>
  <% end %>
</div>