<div class="col-md-4">
	<%= render 'public/users/profile', user: current_user %>
</div>

<div class="col-md-8">
	<h2>Users</h2>

	<table>
		<thead>
			<tr>
				<th>Users</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= link_to user_path(user) do%>
							<%= render 'public/users/profile_image', user: user %>
						<% end %>
					</td>
					<td><%= link_to user_path(user) do%>
							<%= user.username %>
						<% end %>
					</td>
					<td><%= link_to 'following', posts_path, type: 'button', class: 'btn btn-default' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>