<div class="users_index">
	<div class="col-md-4">
		<%= render 'public/users/profile', user: current_user %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h2 class="col-md-2">Users</h2>

			<!-- 検索フォーム -->
			<%= search_form_for @q do |f| %>
				<div class="col-md-10 text-right users_search">
					<%= f.search_field :username_cont, placeholder: 'ユーザー名' %>

					<%= f.submit '検索', class: 'users_search_btn' %>
				</div>
			<% end %>
		</div>

		<table class="users_index_table col-md-6">
			<thead>
				<tr>
					<th class="text-center">Users</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody class="text-center">
				<!-- ユーザー 一覧 -->
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= link_to user_path(user) do%>
								<%= render 'public/users/profile_image', user: user %>
							<% end %>
						</td>
						<td><%= link_to user_path(user) do%>
								<div class="users_index_name">
									<%= user.username %>
								</div>
							<% end %>
						</td>
						<td class="u_index_btn"><%= link_to 'following', posts_path, type: 'button', class: 'btn btn-default' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>