<div class="users_show">
	<div class="col-md-2">
		<%= render 'public/users/profile', user: @user %>
	</div>

	<div class="col-md-5">
		<div class="row">
			<h2 class="col-md-4 text-center">投稿</h2>
		</div>

		<div class="row">
			<table class="users_show_table col-md-10">
				<thead>
					<tr>
						<th class="text-center col-md-3">タイトル</th>
						<th class="text-center col-md-3">カテゴリー</th>
						<th class="text-center col-md-2">コメント</th>
						<th class="text-center col-md-2">いいね</th>
					</tr>
				</thead>

				<tbody class="text-center">
					<% @user_posts.each do |user_post| %>
					<%# if user_post.user.is_deleted == false %>
						<tr>
							<td>
								<%=link_to post_path(user_post), data: {'turbolinks' => false} do %>
									<div class="users_show_ users_show_title">
										<%= user_post.title %>
									</div>
								<% end %>
							</td>

								<!-- カテゴリー -->
							<td>
								<%=link_to post_path(user_post), data: {'turbolinks' => false} do %>
									<div class="users_show_">
										<%= user_post.category.name %>
									</div>
								<% end %>
							</td>
								<!-- コメント件数 -->
							<td>
								<%=link_to post_path(user_post), data: {'turbolinks' => false} do %>
									<div class="users_show_">
										<%= user_post.comments.count %> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
									</div>
								<% end %>
							</td>
							<td>
								<!-- いいね数 -->
								<%= link_to post_path(user_post), data: {'turbolinks' => false} do%>
									<div class="posts_index_">
										<span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%= user_post.likes.count %>
									</div>
								<% end %>
							</td>
						</tr>
					<%# end %>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-md-10">
				<%= paginate @user_posts %>
			</div>
		</div>

		<div class="back_btn">
			<%= link_to 'もどる', :back, data: {'turbolinks' => false}, class: 'btn navbar-btn' %>
		</div>
	</div>

	<div class="col-md-5">
		<!-- To do フォーム -->
		<% if @user == current_user %>
			<div class="row">
				<div class="to_do_form">
					<%= form_with(model: [@user, @to_do_list], remote: true) do |f| %>
						<%= f.text_area :to_do, rows:'3',placeholder: 'To Do', class: 'col-md-12' %>
						<div class="to_do_list_submit col-md-12 text-right">
							<%= f.submit '追加', class: 'to_do_submit' %>
						</div>
					<% end %>
				</div>
			</div>

			<div class="row to_do_<% @user.id %>">
				<%= render 'public/to_do_lists/to_do_list', to_do_lists: @to_do_lists %>
			</div>
		<% else %>
			<div class="col-md-8 recommendations user_s_recommendations">
				<!-- おすすめの投稿 -->
				<%= render 'public/recommendations/recommendations', recommendations: @recommendations %>
			</div>
		<% end %>
	</div>
</div>

